
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
     background-color: lightskyblue;
     background-image: url(../img/pattern.png);
     height: 80px;
     margin-bottom: 5px solid;

}

#logo{
    width: 120px;
    height: auto;
    bottom: 8px;
    left: 16px;
    
}

.sezioni {
    margin: 1%;
}

#elenco {
    margin: 2%;
}

table {
    margin: 1%;
}

th, td {
    width: 3%;
    font-size: smaller;
   
}

th {
  background-color: rgb(8, 161, 244);
  color: white;
  text-align: left;
}

.bluetab {
    background-color: rgba(11, 216, 216, 0.556);
}