
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
     background-color: lightskyblue;
     background-image: url(../img/pattern.png);
     height: 120px;
     margin-bottom: 5px solid;
     position: relative;

}

#logo{
    width: 250px;
    height: auto;
    left: 0;
    bottom: 0;
    position: absolute;
    
    
}

.sezioni {
    margin: 1%;
}

#elenco {
    margin: 2%;
}

table {
    margin: 1%;
    border-spacing: 0;
}

th, td {
    width: 3%;
    font-size: smaller;
   
}

th {
  background-color: rgb(8, 161, 244);
  color: white;
  text-align: left;
}

.bluetab {
    background-color: rgba(11, 216, 216, 0.556);
}

.endimg {
    display: block;
    padding-top: 1%;
}

h5 {
    color: grey;
}

#data {
    color: gray;
}

span {
    background-color: yellow;
}

#endtext {
    margin-top: 2%;
    margin-bottom: 0%;
    margin: 1%;
}

#booleaner {
    color: blue;
    background-color: transparent;
}

.container {
    margin: 1%;
    position: relative;
  text-align: center;
  color: white;
}

.textimg {
  margin: 1%;
  position: absolute;
  top: 20px;
  left: 10px;
  font-size: larger;
}

#pfinale {
    margin: 1%;
}